<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      p {
        color: black;
      }
      li {
        list-style: none;
        color: black;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%; padding: 0px; background-color: #ededed">
      <tr>
        <td>
          <table
            style="
              width: 800px;
              text-align: center;
              background-color: white;
              margin: 0 auto;
            "
          >
          <%- include('./components/logotipo.ejs') %>
            <tr>
              <td style="padding: 20px; width: 100%; text-align: center">
                <div
                  style="
                    margin-top: 16px;
                    width: 100%;
                    background-color: transparent;
                    text-align: start;
                    font-size: 16px;
                  "
                >
                  <p>
                    Olá, <span> <%= data.firstname %> </span>
                    <span> <%= data.lastname %> </span>
                  </p>

                  <p style="color: black">
                    Seja muito bem-vindo ao Overland Angola. Foi adicionado como
                    novo administrador do site. Eis os seus dados de acesso e
                    algumas informações:
                  </p>
                  <ul
                    style="
                      width: fit;
                      padding: 10px;
                      border-radius: 16px;
                      background-color: #edededed;
                    "
                  >
                    <li>
                      <strong>Email:</strong>
                      <span> <%= data.email %> </span>
                    </li>

                    <li>
                      <strong>Password:</strong>
                      <span> <%= data.password %> </span>
                    </li>

                    <li>
                      <strong>Role:</strong>
                      <span> <%= data.role %> </span>
                    </li>
                  </ul>
                  <p>
                    <strong>NOTA:</strong> A role
                    <strong> <%= data.role %> </strong> permite-lhe <%=
                    data.roleInfo %>
                  </p>
                </div>
              </td>
            </tr>
            <%- include('./sections/explore-section.ejs') %>
            <%- include('./sections/footer-section.ejs') %>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
