<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Loja Template</title>
    <style>
      p {
        color: black;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%; background-color: #ededed">
      <tr>
        <td style="width: 100%; padding: 0px; border: none">
          <table style="width: 800px; margin: 0 auto; background-color: white">
            <tr>
              <td style="width: 100%; padding: 10px; text-align: center">
                <img
                  style="width: 350px; height: 200px; object-fit: contain"
                  src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Flogotipo-texto.png?alt=media&token=924c42ce-61d6-4cd6-b507-b4f89a1f4444"
                  alt="overland-logotipo"
                />
              </td>
            </tr>

            <tr>
              <td style="width: 100%; padding: 20px; font-size: 16px">
                <ul style="list-style: none">
                  <h1
                    style="
                      text-transform: uppercase;
                      font-weight: 800;
                      font-size: 20px;
                    "
                  >
                    Detalhes do cliente
                  </h1>
                  <li>
                    <strong>Nome:</strong>
                    <span> <%= data.user.name %> </span>
                  </li>
                  <li>
                    <strong>Email:</strong>
                    <span><%= data.user.email %></span>
                  </li>
                  <li>
                    <strong>Contacto:</strong>
                    <span> <%= data.user.phone %> </span>
                  </li>
                </ul>

                <p style="color: black; margin-left: 25px">
                  O cliente acima deseja obter os seguintes produtos:
                </p>
              </td>
            </tr>

            <hr
              style="
                width: 90%;
                margin: 0 auto;
                height: 2px;
                background-color: #ddd;
                border: none;
                padding: 0px;
              "
            />

            <tr>
              <td style="width: 100%; text-align: center">
                <% data.products.forEach((product)=>{ %> <%-
                include('./components/product-card.ejs', { product: product}) %>
                <% }) %>
              </td>
            </tr>

            <%- include('./sections/explore-section.ejs') %> <%-
            include('./sections/footer-section.ejs') %>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
