<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Loja Template</title>
    <style>
      p {
        color: black;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%; background-color: #ededed">
      <tr>
        <td style="width: 100%; padding: 0px; border: none">
          <table style="width: 800px; margin: 0 auto; background-color: white">
            <tr>
              <td style="width: 100%; padding: 10px; text-align: center">
                <img
                  style="width: 350px; height: 200px; object-fit: contain"
                  src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Flogotipo-texto.png?alt=media&token=924c42ce-61d6-4cd6-b507-b4f89a1f4444"
                  alt="overland-logotipo"
                />
              </td>
            </tr>

            <tr>
              <td style="width: 100%; padding: 20px; font-size: 16px">
                <ul style="list-style: none">
                  <h1
                    style="
                      text-transform: uppercase;
                      font-weight: 800;
                      font-size: 20px;
                    "
                  >
                    Detalhes do cliente
                  </h1>
                  <li>
                    <strong>Nome:</strong>
                    <span> <%= data.user.firstname %> </span>
                    <span> <%= data.user.lastname %> </span>
                  </li>
                  <li>
                    <strong>Email:</strong>
                    <span><%= data.user.email %></span>
                  </li>
                  <li>
                    <strong>Contacto:</strong>
                    <span> <%= data.user.phone %> </span>
                  </li>
                </ul>

                <p style="color: black; margin-left: 25px">
                  O cliente acima deseja obter os seguintes produtos:
                </p>
              </td>
            </tr>

            <hr
              style="
                width: 90%;
                margin: 0 auto;
                height: 2px;
                background-color: #ddd;
                border: none;
                padding: 0px;
              "
            />

            <tr>
              <td style="width: 100%; text-align: center">
                <% data.product.forEach((product)=>{ %> <%-
                include('store-product.ejs', { product: product}) %> <% }) %>
              </td>
            </tr>
            <tr>
              <td
                style="
                  background-color: #02232b;
                  padding: 12px 0;
                  text-align: center;
                "
              >
                <h3
                  style="
                    font-size: 18px;
                    color: white;
                    font-size: 20px;
                    text-transform: uppercase;
                  "
                >
                  Explorar O Site Overland Angola
                </h3>

                <a href="https://facebook.com" style="text-decoration: none">
                  <img
                    style="width: 40px; height: 40px; object-fit: cover"
                    src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Fface.png?alt=media&token=bc2a4dd8-d356-4e96-bdfd-a1cd7bdc3e16"
                    alt="facebook-icon"
                  />
                </a>

                <a
                  href="https://instagram.com"
                  style="margin: 0 15px; text-decoration: none"
                >
                  <img
                    style="width: 40px; height: 40px; object-fit: cover"
                    src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Finsta.png?alt=media&token=d8a797b3-9615-44ef-af8c-8ecc9bfaa1f9"
                    alt="instagram-icon"
                  />
                </a>

                <a href="https://youtube.com" style="text-decoration: none">
                  <img
                    style="width: 40px; height: 40px; object-fit: cover"
                    src="https://firebasestorage.googleapis.com/v0/b/history-post.appspot.com/o/newsletter-images%2Fyoutube.png?alt=media&token=e055c956-457e-4895-9443-1548ecae811a"
                    alt="youtube-icon"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                <p style="font-style: italic; font-size: 14px">
                  &copy; Todos os direitos reservados.
                </p>
                <p style="font-size: 14px">O nosso endereço postal é:</p>
                <p style="font-size: 14px">Angola, Luanda</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
